services:
  redis:
    image: redis:7.0.15
    restart: unless-stopped
    container_name: ${REDIS_HOST}
    command: /bin/sh -c redis-server --appendonly yes --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    env_file:
      - .env
    volumes:
      - ./docker_data/redis:/data
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
